{
  "root": true,
  "parserOptions": { "project": "./tsconfig.json" },
  "extends": ["@quitsmx", "@quitsmx/eslint-config/ts-runtime", "plugin:jest/recommended"],
  "plugins": ["testing-library", "jest"],
  "ignorePatterns": ["/dist", "/patches"],
  "env": {
    "jest/globals": true
  },
  "settings": {
    "jest": {
      "version": 27
    }
  },
  "overrides": [
    {
      "files": ["bin/**/*"],
      "parserOptions": { "sourceType": "script" },
      "extends": ["@quitsmx/eslint-config/node"],
      "rules": { "node/no-unpublished-require": "error" }
    },
    {
      "files": ["./*.js", "scripts/**/*"],
      "parserOptions": { "sourceType": "script" },
      "extends": ["@quitsmx/eslint-config/node"]
    },
    {
      "files": ["rollup.config.js", "scripts/**/*.ts"],
      "rules": {
        "node/no-unsupported-features/es-syntax": ["error", { "ignores": ["modules"] }]
      }
    }
  ],
  "rules": { "no-void": "off" }
}
